/* All page styles */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

:root {
    --clr-icons: #929292;
    --clr-text: #ffffff;
    --clr-bg-dark: #242424;
    --clr-bg-light: #3b3b3b;
    --clr-accent: #ff7600;
}

body {
    margin: 1rem;
    background-color: var(--clr-bg-dark);
    color: var(--clr-text);
    line-height: 1.5;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    background: transparent;
    color: var(--clr-text);
    font-size: 1.125rem;
    padding: 0.5em;
    position: relative;
}

.btn::after {
    content: "";
    position: absolute;
    background-color: var(--clr-accent);
    height: 0.85em;
    width: 75%;
    left: 0;
    top: 50%;
    z-index: -1;
    transition: transform 175ms cubic-bezier(0.91, 0, 0.55, 1.64);
    transform-origin: bottom left;
}

.btn:hover::after, 
.btn:focus::after {
    transform: scale(1.35, 1.85);
}

.title {
    color: var(--clr-accent);
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    font-size: clamp(3rem, 10vw, 7rem); /* configura um tamanho mínimo, um ideal e um máximo */
}

.location {
    color: var(--clr-icons);
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

header {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.nav__link {
    color: var(--clr-text);
    text-transform: capitalize;
    text-decoration: none;
}

.nav__link:hover, 
.nav__link:focus {
    color: var(--clr-accent);
}

.secondary-images {
    display: flex;
    gap: 0.5rem;
}

/* Footer styles */
footer {
    margin-top: 2rem;
}

.social-link:hover, 
.social-link:focus {
    opacity: 0.5;
}